[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
mkdocs = "==1.1.2"
mkdocs-material = "==5.5.0"
python-markdown-math = "==0.7"
Pygments = "==2.6.1"
prompt_toolkit = "==3.0.5"
pyyaml = "==5.3.1"
Jinja2 = "==2.11.2"

[dev-packages]
invoke = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true

[scripts]
version = "mkdocs --version"
help = "mkdocs --help"
serve = "inv serve"
build = "mkdocs build"
deploy = "mkdocs gh-deploy"
