[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
mkdocs = "==1.0.4"
mkdocs-material = "==4.1.0"
python-markdown-math = "==0.6"
Pygments = "==2.3.1"
prompt_toolkit = "==2.0.9"
pyyaml = "==5.1"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true

[scripts]
version = "mkdocs --version"
help = "mkdocs --help"
serve = "mkdocs serve"
build = "mkdocs build"
gh-deploy = "mkdocs gh-deploy"
