-i https://pypi.org/simple/
click==8.0.1
ghp-import==2.0.1
importlib-metadata==4.5.0
jinja2==3.0.1
markdown==3.3.4
markupsafe==2.0.1
mergedeep==1.3.4
mkdocs-material-extensions==1.0.1
mkdocs-material==7.1.7
mkdocs==1.2
packaging==20.9
prompt-toolkit==3.0.18
pygments==2.9.0
pymdown-extensions==8.2
pyparsing==3.0.0b2
python-dateutil==2.8.1
python-markdown-math==0.8
pyyaml-env-tag==0.1
pyyaml==5.4.1
six==1.16.0
watchdog==2.1.2
wcwidth==0.2.5
zipp==3.4.1
