-i https://pypi.org/simple
invoke==2.2.0; python_version >= '3.6'
babel==2.16.0; python_version >= '3.8'
certifi==2024.8.30; python_version >= '3.6'
charset-normalizer==3.3.2; python_full_version >= '3.7.0'
click==8.1.7; python_version >= '3.7'
colorama==0.4.6; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4, 3.5, 3.6'
ghp-import==2.1.0
idna==3.10; python_version >= '3.5'
jinja2==3.1.4; python_version >= '3.7'
markdown==3.7; python_version >= '3.8'
markupsafe==2.1.5; python_version >= '3.7'
mergedeep==1.3.4; python_version >= '3.6'
mkdocs==1.6.1; python_version >= '3.8'
mkdocs-get-deps==0.2.0; python_version >= '3.8'
mkdocs-material==9.5.37; python_version >= '3.8'
mkdocs-material-extensions==1.3.1; python_version >= '3.8'
packaging==24.1; python_version >= '3.7'
paginate==0.5.7
pathspec==0.12.1; python_version >= '3.8'
platformdirs==4.3.6; python_version >= '3.8'
prompt-toolkit==3.0.47; python_full_version >= '3.7.0'
pygments==2.18.0; python_version >= '3.8'
pymdown-extensions==10.10.1; python_version >= '3.8'
python-dateutil==2.9.0.post0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
python-markdown-math==0.8; python_version >= '3.6'
pyyaml==6.0.2; python_version >= '3.6'
pyyaml-env-tag==0.1; python_version >= '3.6'
regex==2024.9.11; python_version >= '3.8'
requests==2.32.3; python_version >= '3.7'
six==1.16.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
urllib3==2.2.3; python_version >= '3.8'
watchdog==4.0.2; python_version >= '3.8'
wcwidth==0.2.13
