-i https://pypi.org/simple/
click==7.1.2
future==0.18.2
jinja2==2.11.2
joblib==0.17.0
livereload==2.6.3
lunr[languages]==0.5.8
markdown==3.3.1
markupsafe==2.0.0a1
mkdocs-material-extensions==1.0.1
mkdocs-material==6.0.2
mkdocs==1.1.2
nltk==3.5
prompt-toolkit==3.0.8
pygments==2.7.1
pymdown-extensions==8.0.1
python-markdown-math==0.7
pyyaml==5.3.1
regex==2020.10.11
six==1.15.0
tornado==6.1b1
tqdm==4.50.2
wcwidth==0.2.5
