-i https://pypi.org/simple/
click==8.0.0a1
future==0.18.2
jinja2==2.11.3
joblib==1.0.1
livereload==2.6.3
lunr[languages]==0.5.8
markdown==3.3.4
markupsafe==2.0.0rc1
mkdocs-material-extensions==1.0.1
mkdocs-material==7.0.2
mkdocs==1.1.2
nltk==3.5
prompt-toolkit==3.0.16
pygments==2.8.0
pymdown-extensions==8.1.1
python-markdown-math==0.8
pyyaml==5.4.1
regex==2020.11.13
six==1.15.0
tornado==6.1
tqdm==4.58.0
wcwidth==0.2.5
