name: CI

on:
  push:
    branches:
      - master
    paths-ignore:
      - "**.md"
  pull_request:
    paths-ignore:
      - "**.md"

jobs:
  hadolint:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2
      - run: brew install hadolint
      - run: hadolint ./Dockerfile

  pipenv:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2

      - name: Setup Python
        uses: actions/setup-python@v2.1.1
        with:
          python-version: '3.8'

      - name: Cache dependencies
        uses: actions/cache@v2
        with:
          path: ~/.cache/pipenv
          key: ${{ runner.os }}-pipenv-${{ hashFiles('**/Pipfile.lock') }}
          restore-keys: |
            ${{ runner.os }}-pipenv-

      - run: python3 -m pip install --upgrade pip
      - run: python3 -m pip install pipenv
      - run: pipenv sync --dev
      - run: pipenv run mkdocs build --config-file ./mkdocs-sample.yml

  docker:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2

      - name: Docker Build
        run: docker build -t 'peaceiris/mkdocs-material:latest' .

      - name: mkdocs build
        run: docker-compose run --rm mkdocs build --config-file ./mkdocs-sample.yml
